.translucent {
    color: #d3d7cf;
}

.center-header {
    text-align: center;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.my-list {
      margin-left: 5%;
}

h4{
    color: red;
    margin-left: 20px;
}

form.register_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}
